<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head') %>
        <!-- Enable bootstrap 4 -->
        <script>
            window.__theme = 'bs4';
        </script>
</head>

<body>
    <div class="page-holder bg-light">
        <!-- navbar-->
        <header class="header bg-white">
            <div class="container px-0 px-lg-3">
                <%- include ('../includes/nav-shop') %>
            </div>
        </header>

        <div class="modal-dialog modal-lg modal-dialog-centered" id="productView" tabindex="-1" role="dialog" aria-hidden="true">

            <div class="modal-content page-content">
                <div class="modal-body p-0">
                    <div class="row align-items-stretch">
                        <div class="col-lg-6 p-lg-0">
                            <a class="product-view d-block h-100 bg-cover bg-center" style="background: url(../<%-product.imageUrl%>)" href="<% - product.imageUrl %> " data-lightbox="productview" title="<%- product.title%>"></a>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5 my-md-4">
                                <h2 class="h4">
                                    <%- product.title%>
                                </h2>
                                <p class="text-muted">$
                                    <%- product.price%>
                                </p>
                                <p class="text-small mb-4">
                                    <%- product.description%>
                                </p>
                                <div class="row align-items-stretch mb-4">
                                    <div class="col-sm-7 pr-sm-0">
                                        <div class="border d-flex align-items-center justify-content-between py-1 px-3"><span class="small text-uppercase text-gray mr-4 no-select">Quantity</span>
                                            <div class="quantity">
                                                <input class="form-control border-0 shadow-0 p-0" type="text" value="1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 pl-sm-0">
                                        <form action="/cart" method="post">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <button class="btn btn-dark btn-sm btn-block h-100 d-flex align-items-center justify-content-center px-0" type="submit">Add to Cart</button>
                                            <input type="hidden" name="productId" value="<%= product._id %>">
                                        </form>
                                    </div>
                                </div><a class="btn btn-link text-dark p-0" href="#"><i class=""></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div>  -->

        </div>

        <!-- Footer -->

        <%- include('../includes/footer')  %>

            <!-- JavaScript files-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/owl.carousel2.thumbs@0.1.8/dist/owl.carousel2.thumbs.min.js"></script>


    </div>
</body>

</html>